<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonplaystoreapps">
	<uses-sdk android:minSdkVersion="30"/>

    <!-- permissions -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="NonPlayStoreApps">
        <activity android:name=".NonPlayStoreApps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

